rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /masterData/{row} {
      allow read: if true;
      allow create, update: if request.resource.data.adminToken == 'tero-admin-2026-secure';
      allow delete: if false;
    }
    match /affiliateData/{doc} {
      allow read: if true;
      allow create, update: if request.resource.data.adminToken == 'tero-admin-2026-secure';
      allow delete: if false;
    }
    match /revenueData/{doc} {
      allow read: if true;
      allow create, update: if request.resource.data.adminToken == 'tero-admin-2026-secure';
      allow delete: if false;
    }
  }
}

